<!DOCTYPE html>
<html lang="en">
<head>
    <title>whiskp Activation Email</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">

        body {
            margin: 0;
            padding: 0;
            min-width: 100%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            background-color: #fafafa;
            color: #222222
        }
        a {
            color: #000;
            text-decoration: none;
        }
        h1 {
            font-size: 24px;
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 15px;
            text-align: center;
        }
        p{
            margin-top: 0;
            margin-bottom: 24px;
        }
        table td {
            vertical-align: top;
        }

        /* layout */
        .email-wrapper {
            max-width: 600px;
            margin: 0 auto;
        }
        .email-header {
            padding: 24px;
            background-color: #0070f3;
            color: #ffffff
        }
        .email-body {
            padding: 24px;
            background-color: #f6f6f6;
        }

        /* buttons */
        .button {
            display: inline-block;
            padding: 12px 24px;
            font-size: 16px;
            font-weight: 700;
            color: #ffffff;
            background-color: #0070f3;
            border-radius: 4px;
            text-decoration: none;
            text-align: center;
        }


    </style>
</head>
<body>
    <div class="email-wrapper">
        <div class="email-header">
            <h1>Welcome to Whiskp</h1>
        </div>

        <div class="email-body">
            <p>Hello <%= name %> 👋, </p>
            <p>
                Thank you for signing up with Whiskp — we're excited to have you on board!
                To activate your vendor's account, please verify your email address by entering the One-Time Password (OTP) we've just sent to this email.
            </p>
            <h2><%= otp %> </h2>
            <p>This code expires within the next 5 mins. Please enter the code on the activation page </p>
            <p>If you did not register for a whiskp vendor's account, please ignore this email </p>
        </div>
        <div class="email-footer">
            <p>
                Need help or have questions? Feel free to reach out at <a href="mailto:support@whiskp.com">
                    support@whiskp.com
                </a>
            </p>
            <p>Thanks,</p>
            <p><strong>
                The Whiskp Team
            </strong></p>
        </div>
    </div>
</body>
</html>